**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.git/
**/.gitignore
**/Dockerfile
**/docker-compose*
**/*.md
**/*.user
**/*.suo
**/*.log
**/*.pdb
**/*.cache
**/*.csproj.user
**/node_modules/
**/npm-debug.log
**/yarn-error.log